* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.body0 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(/stylesheets/picture/home.jpg);
  background-size: cover;
}
.body0 .welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;
  border-radius: 10px;
}
.body0 .welcome .title h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  margin: 20px;
  color: #fff;
}
.body00 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(https://images.pexels.com/photos/590041/pexels-photo-590041.jpeg?cs=srgb&dl=pexels-lukas-590041.jpg&fm=jpg);
  background-size: cover;
}
.body00 .welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;
  border-radius: 10px;
}
.body00 .welcome form div label h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  color: #fff;
}
.body00 .welcome form .buttons button {
  margin-top: 10px;
}
